.card {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 800px;
    margin: 50px auto;
}

.cardContent {
    box-shadow: 2px 5px 10px rgba(30, 41, 59, 1);
    padding: 15px;
    flex: 1 1 0px
}

.cardContent h1 {
    margin-bottom: 40px;
}

.cardContent p {
    display: flex;
    margin: 0 0 15px 60px;
}

.cardContent strong {
    min-width: 110px;
    text-align: left;
}

.cardContent span {
    color: #c7d2fe;
    text-align: left;
}

.cardImage {
    flex: 1 1 0px
}

.cardImage img {
    padding: 2px;
    display: block;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(30, 41, 59, 1);
    width: 100%;
}

@media(max-width: 992px) {
    .card {
        gap: 15px;
    }
}

@media(max-width: 768px) {
    .card {
        flex-wrap: wrap;
    }

    .cardContent {
        flex: unset;
        width: 100%;
        order: 1;
    }

    .cardContent p {
        margin: 0 0 15px 30px;
    }

    .cardImage {
        flex: unset;
        width: 100%;
    }
}